# List

#### List allow you to store any set of information

Collection of items in a particular order

In [4]:
ipl_team = ['CSK','KKR','SRH','DD','MI','KXIP']

In [5]:
students_in_class = ['ram','shyam','gopi','aditya','kavya','josh']

Index starts with zero

In [6]:
students_in_class[2]

'gopi'

In [7]:
students_in_class[0]

'ram'

In [8]:
print(ipl_team)

['CSK', 'KKR', 'SRH', 'DD', 'MI', 'KXIP']

List are inside with brackets [].

In [9]:
print('My favorite team is '+ipl_team[0])

My favorite team is CSK

## change the list

In [10]:
students_in_class

['ram', 'shyam', 'gopi', 'aditya', 'kavya', 'josh']

In [11]:
students_in_class[0] = 'Anand'

In [12]:
students_in_class

['Anand', 'shyam', 'gopi', 'aditya', 'kavya', 'josh']

In [13]:
students_in_class[4] = 'Garima'

In [14]:
students_in_class

['Anand', 'shyam', 'gopi', 'aditya', 'Garima', 'josh']

## Adding elements in list

In [15]:
students_in_class.append('himanshu')

In [16]:
students_in_class.append('rajesh')

In [17]:
students_in_class

['Anand', 'shyam', 'gopi', 'aditya', 'Garima', 'josh', 'himanshu', 'rajesh']

In [20]:
students_in_class.insert(0,'sahil')

In [21]:
students_in_class

['sahil',
 'Anand',
 'shyam',
 'gopi',
 'aditya',
 'Garima',
 'josh',
 'himanshu',
 'rajesh']

In [22]:
students_in_class.insert(3,'ramu')

In [23]:
students_in_class

['sahil',
 'Anand',
 'shyam',
 'ramu',
 'gopi',
 'aditya',
 'Garima',
 'josh',
 'himanshu',
 'rajesh']

## Removing an elment

In [24]:
del students_in_class[-1]

In [25]:
students_in_class

['sahil',
 'Anand',
 'shyam',
 'ramu',
 'gopi',
 'aditya',
 'Garima',
 'josh',
 'himanshu']

In [26]:
del students_in_class[4]

In [27]:
students_in_class

['sahil', 'Anand', 'shyam', 'ramu', 'aditya', 'Garima', 'josh', 'himanshu']

### Remove an elements by value

In [28]:
students_in_class.remove('ramu')

In [29]:
students_in_class

['sahil', 'Anand', 'shyam', 'aditya', 'Garima', 'josh', 'himanshu']

In [31]:
students_in_class.remove('shyam')

In [32]:
students_in_class

['sahil', 'Anand', 'aditya', 'Garima', 'josh', 'himanshu']

In [33]:
len(students_in_class)

6

### Remove an elements by pop()

In [34]:
students_in_class.pop()

'himanshu'

In [35]:
students_in_class

['sahil', 'Anand', 'aditya', 'Garima', 'josh']

In [36]:
students_in_class.pop()

'josh'

In [37]:
students_in_class.pop()

'Garima'

In [38]:
students_in_class

['sahil', 'Anand', 'aditya']

In [39]:
students_in_class.pop(1)

'Anand'

In [40]:
students_in_class

['sahil', 'aditya']

## Storing data in an ordered way

### temporarily or permanently

In [42]:
students_in_class = ['ram','shyam','gopi','aditya','kavya','josh']

In [43]:
students_in_class

['ram', 'shyam', 'gopi', 'aditya', 'kavya', 'josh']

In [44]:
students_in_class.sort()

In [45]:
students_in_class

['aditya', 'gopi', 'josh', 'kavya', 'ram', 'shyam']

In [46]:
students_in_class = ['ram','shyam','gopi','aditya','kavya','josh']

In [47]:
students_in_class

['ram', 'shyam', 'gopi', 'aditya', 'kavya', 'josh']

In [48]:
sorted(students_in_class)

['aditya', 'gopi', 'josh', 'kavya', 'ram', 'shyam']

In [49]:
students_in_class

['ram', 'shyam', 'gopi', 'aditya', 'kavya', 'josh']

## Reverse a list

In [50]:
students_in_class.reverse()

In [51]:
students_in_class

['josh', 'kavya', 'aditya', 'gopi', 'shyam', 'ram']

In [52]:
students_in_class[-1]

'ram'

In [53]:
students_in_class[-2]

'shyam'

In [54]:
students_in_class[4:]

['shyam', 'ram']

In [64]:
students_in_class[1:]
# print all items from first to end

['kavya', 'aditya', 'gopi', 'shyam', 'ram']

In [63]:
students_in_class[-4:]
#last four items

['aditya', 'gopi', 'shyam', 'ram']

In [62]:
students_in_class[:-4]
# leave last 4 items

['josh', 'kavya']

## Thank you