In [1]:
students_class = ['ram','gopi','aditya','kamal','ashraf','farhan','arshi','belal']

In [3]:
students_class[0]

'ram'

In [4]:
students_class[1]

'gopi'

In [5]:
students_class[2]

'aditya'

## Looping through lists

In [6]:
for i in range(1,4):
    print(i)

1
2
3

In [12]:
list(range(1,4))

[1, 2, 3]

In [13]:
for student in students_class:
    print(student + ' is a student of this class.')

ram is a student of this class.
gopi is a student of this class.
aditya is a student of this class.
kamal is a student of this class.
ashraf is a student of this class.
farhan is a student of this class.
arshi is a student of this class.
belal is a student of this class.

In [17]:
for student in students_class:
print(student + ' is a student of this class.')

IndentationError: expected an indented block (<ipython-input-17-bfdd06aa95f8>, line 2)

In [18]:
for i in range(5):
    print('these are numbers!')

these are numbers!
these are numbers!
these are numbers!
these are numbers!
these are numbers!

In [20]:
for i in range(5):
    print(i)
print('these are numbers!')

0
1
2
3
4
these are numbers!

In [21]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
list(range(50,80))

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79]

In [23]:
list(range(50,81))

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80]

In [24]:
list(range(12,19))

[12, 13, 14, 15, 16, 17, 18]

In [25]:
list(range(12,19,2))

[12, 14, 16, 18]

In [26]:
list(range(0,50,4))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

In [27]:
list(range(80,50,-1))

[80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51]

In [28]:
list(range(80,50))

[]

In [29]:
list(range(15,95,20))

[15, 35, 55, 75]

## square of numbers

In [30]:
for num in range(1,11):
    square = num **2
    print(square)

1
4
9
16
25
36
49
64
81
100

## cube of numbers

In [31]:
for num in range(1,11):
    cube = pow(num,3)
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [32]:
numbers = [1,2,3,4,5,6,7,8,9]

In [33]:
numbers = [11,2,53,44,15,66,77,58,89]

In [34]:
min(numbers)

2

In [35]:
max(numbers)

89

In [36]:
sum(numbers)

415

In [38]:
sum = 0
for i in numbers:
    sum += i
print(sum)

415

In [40]:
sum = 0
for i in numbers:
    print('adding '+str(i))
    sum += i
    print('sum is '+str(sum))
print(sum)

adding 11
sum is 11
adding 2
sum is 13
adding 53
sum is 66
adding 44
sum is 110
adding 15
sum is 125
adding 66
sum is 191
adding 77
sum is 268
adding 58
sum is 326
adding 89
sum is 415
415

## List comprehension

In [1]:
square = [sq**2 for sq in range(1,11)]

In [2]:
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
cubes = [pow(cu, 3) for cu in range(1,16)]

In [4]:
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375]

In [5]:
series = [x for x in range(1,101)]

In [6]:
series

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

## Slicing the ist

In [7]:
students = ['ram','shyam','gopal','sunny','rajkumar','saddam','aatif','rashid','adiba']

In [8]:
students[2:5]

['gopal', 'sunny', 'rajkumar']

In [9]:
students[4:8]

['rajkumar', 'saddam', 'aatif', 'rashid']

In [10]:
students[4:]

['rajkumar', 'saddam', 'aatif', 'rashid', 'adiba']

In [11]:
students[2:]

['gopal', 'sunny', 'rajkumar', 'saddam', 'aatif', 'rashid', 'adiba']

In [12]:
students[-1]

'adiba'

In [13]:
students[-2]

'rashid'

In [15]:
students[-2:]

['rashid', 'adiba']

In [17]:
students[-3:]

['aatif', 'rashid', 'adiba']

In [18]:
students[-4:]

['saddam', 'aatif', 'rashid', 'adiba']

## lloping and slicing

In [20]:
print('Here are the first three students of my class')
for student in students[:3]:
    print(student)

Here are the first three students of my class
ram
shyam
gopal

In [21]:
students

['ram',
 'shyam',
 'gopal',
 'sunny',
 'rajkumar',
 'saddam',
 'aatif',
 'rashid',
 'adiba']

In [22]:
print('Here are the first three students of my class')
for student in students[0:3]:
    print(student)

Here are the first three students of my class
ram
shyam
gopal

In [23]:
print('Here are the students of my class')
for student in students[0:]:
    print(student)

Here are the students of my class
ram
shyam
gopal
sunny
rajkumar
saddam
aatif
rashid
adiba

## Copying a list

In [24]:
indian_players = ['hardik','sachin','dhoni','bhuwneshwar','vijay','rohit sharma','sami']

In [25]:
my_fav_player = indian_players

In [26]:
my_friend_fav_player = indian_players[1:5]

In [27]:
my_fav_player

['hardik', 'sachin', 'dhoni', 'bhuwneshwar', 'vijay', 'rohit sharma', 'sami']

In [28]:
indian_players

['hardik', 'sachin', 'dhoni', 'bhuwneshwar', 'vijay', 'rohit sharma', 'sami']

In [29]:
my_friend_fav_player

['sachin', 'dhoni', 'bhuwneshwar', 'vijay']

In [30]:
my_fav_player.pop(1)

'sachin'

In [31]:
my_fav_player

['hardik', 'dhoni', 'bhuwneshwar', 'vijay', 'rohit sharma', 'sami']

In [32]:
my_friend_fav_player.append('sachin')

In [33]:
my_friend_fav_player

['sachin', 'dhoni', 'bhuwneshwar', 'vijay', 'sachin']

# Tuple
## In the list you can change the value of the item. In tuple you can't change the existing value. It is immutable.
### [] these brackets shows it is a list. While () it indicates that it is a tuple.

In [34]:
my_fav_food_list = ['pizza','biryani','chicken popcorn','coffe','Ice cream']
my_fav_food_tuple = ('pizza','biryani','chicken popcorn','coffe','Ice cream')

In [35]:
my_fav_food_list[1] = 'kebab'

In [36]:
my_fav_food_list

['pizza', 'kebab', 'chicken popcorn', 'coffe', 'Ice cream']

In [37]:
my_fav_food_tuple[1] = 'kebab'

TypeError: 'tuple' object does not support item assignment

In [38]:
my_fav_food_tuple = ('pizza','biryani')

In [39]:
my_fav_food_tuple

('pizza', 'biryani')

In [41]:
for food in my_fav_food_tuple:
    print('My favorite food is '+food+'.')

My favorite food is pizza.
My favorite food is biryani.

In [42]:
len(my_fav_food_tuple)

2

In [43]:
min(my_fav_food_tuple)

'biryani'

In [44]:
max(my_fav_food_tuple)

'pizza'

In [54]:
my_fav_food_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [49]:
my_fav_food_list

['pizza', 'kebab', 'chicken popcorn', 'coffe', 'Ice cream']

In [50]:
my_fav_food_list.sort()

In [51]:
my_fav_food_list

['Ice cream', 'chicken popcorn', 'coffe', 'kebab', 'pizza']

In [55]:
print(sorted(my_fav_food_tuple))

['biryani', 'pizza']

# Thank you