# If statements

it is a conditional statements used for a codition.

Syntax:


if conditional_statements:

    do anything

In [1]:
age = 22
if age>18:
    print('You can vote!')

You can vote!

In [3]:
age = 15
if age>18:
    print('You can vote!')

for equal ==

for greater and smaller > and <

for greater than or smaller than we will use >= or <=

## checking for equality

In [4]:
num = 9

In [5]:
num==9

True

In [6]:
num == 10

False

In [7]:
num >9

False

In [8]:
num < 10

True

In [9]:
num <= 9

True

In [10]:
num >=10

False

In [11]:
if num >=9:
    print('it will print!')
if num < 9:
    print('it will not print')

it will print!

In [14]:
name = 'rajesh'

In [15]:
if name == 'rajesh':
    print('yes it is rajesh!')
else:
    print("no it's not rajesh")

yes it is rajesh!

In [16]:
if name == 'sohrab':
    print('yes it is rajesh!')
else:
    print("no it's not rajesh")

no it's not rajesh

In [18]:
name = 'sohrab'

In [19]:
name == 'sohrab'

True

In [20]:
name == 'Sohrab'

False

In [21]:
name == 'SohraB'

False

In [22]:
sohrab_age = 78

In [23]:
sohrab_age == 78

True

In [24]:
sohrab_age == 58

False

In [25]:
name= 'Sohrab'

In [26]:
name.lower() == 'sohrab'

True

In [27]:
name.upper() == 'SOHRAB'

True

## checking for inequality

### ! it is used for inequality

In [28]:
4 != 5

True

In [29]:
'rajesh' != 'Rajesh'

True

In [30]:
'sohrab' != 'sohrab'

False

In [31]:
4 !> 5

SyntaxError: invalid syntax (<ipython-input-31-3bc756d91e07>, line 1)

In [32]:
4 !< 5

SyntaxError: invalid syntax (<ipython-input-32-5a1eca4a175c>, line 1)

In [33]:
not 4 > 5

True

In [34]:
not 4 < 5

False

In [35]:
4 < 5

True

In [36]:
name = 'kavya'

In [38]:
age = 17

In [39]:
name == 'kavya' and age == 17

True

In [40]:
name == 'kavya' or age == 16

True

and :  print if only both statements are true.

or : print if any statement is true.

In [41]:
name == 'sohrab' or age == 16

False

In [42]:
name == 'srab' or age == 17

True

In [43]:
name == 'sohrab' and age == 17

False

## if statement in list

## in used for checking a value or item in a list!

In [44]:
class_students = ['ram','shyam','gopi','affan','kavya','darshi','sohrab','rajesh']

In [45]:
'ram' in class_students

True

In [46]:
'shyam' in class_students

True

In [47]:
'affan' in class_students

True

In [48]:
class_students.remove('affan')

In [49]:
'affan' in class_students

False

In [51]:
class_students

['ram', 'shyam', 'gopi', 'kavya', 'darshi', 'sohrab', 'rajesh']

In [52]:
class_students.pop(1)

'shyam'

In [53]:
'shyam' in class_students

False

In [54]:
'Darshi' in class_students

False

In [55]:
'darshi' in class_students

True

In [56]:
class_students

['ram', 'gopi', 'kavya', 'darshi', 'sohrab', 'rajesh']

In [57]:
'shyam' not in class_students

True

In [58]:
'affan' not in class_students

True

In [61]:
'darshi' in class_students

True

In [62]:
'darshi' not in class_students

False

## nested if statements

In [64]:
num = 40

In [70]:
if num > 50:
    print('number is greater than 50')
else:
    if num > 40:
        print('number is between 40 and 50')
    else:
        if num > 20:
            print('num is between 20 and 40')
        else:
            print('number is greater than 20')

num is between 20 and 40

In [71]:
num = 50
if num > 50:
    print('number is greater than 50')
else:
    if num > 40:
        print('number is between 40 and 50')
    else:
        if num > 20:
            print('num is between 20 and 40')
        else:
            print('number is greater than 20')

number is between 40 and 50

In [73]:
num = 10
if num > 50:
    print('number is greater than 50')
else:
    if num > 40:
        print('number is between 40 and 50')
    else:
        if num > 20:
            print('num is between 20 and 40')
        else:
            print('number is smaller than 20')

number is smaller than 20

## elif operator

In [74]:
num = 10
if num > 50:
    print('number is greater than 50')
elif num > 40:
    print('number is between 40 and 50')
elif num >20:
    print('number is between 20 and 40')
else:
    print('number is smaller than 20')

number is smaller than 20

In [75]:
num = 30
if num > 50:
    print('number is greater than 50')
elif num > 40:
    print('number is between 40 and 50')
elif num >20:
    print('number is between 20 and 40')
else:
    print('number is smaller than 20')

number is between 20 and 40

In [76]:
num = 30
if num > 50:
    print('number is greater than 50')
else:
    if num >40:
        print('number is grearer than 40')
    elif num > 20:
        print('number is between 20 and 40')
    else:
        'number is less than 20'

number is between 20 and 40

In [80]:
num = 10
if num > 50:
    print('number is greater than 50')
else:
    if num >40:
        print('number is grearer than 40')
    elif num > 20:
        print('number is between 20 and 40')
    else:
        print('number is less than 20')

number is less than 20

## if statements in for loops

In [81]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [82]:
for i in range(10):
    if i == 3:
        print('3 is a speacial number.')
    else:
        print(i)

0
1
2
3 is a speacial number.
4
5
6
7
8
9

In [83]:
for i in range(10):
    if i == 3:
        print('3 is a speacial number.')
    print(i)

0
1
2
3 is a speacial number.
3
4
5
6
7
8
9

In [84]:
class_students = ['ram','shyam','gopi','affan','kavya','darshi','sohrab','rajesh']

In [87]:
for student in class_students:
    if student =='kavya' or student == 'darshi':
        print(student.upper() + ', Your admission is free of cost!')
    else:
        print(student.title() + ',your admission cost is 100$.')

Ram,your admission cost is 100$.
Shyam,your admission cost is 100$.
Gopi,your admission cost is 100$.
Affan,your admission cost is 100$.
KAVYA, Your admission is free of cost!
DARSHI, Your admission is free of cost!
Sohrab,your admission cost is 100$.
Rajesh,your admission cost is 100$.

## boolean operators

In [88]:
switch = True

In [90]:
if switch:
    print('bulb is on')

bulb is on

In [91]:
switch = False

In [92]:
if switch:
    print('bulb is on')
else:
    print('bulb is off')

bulb is off

In [93]:
switch = False
time = 10
if time > 6 and time < 18:
    if not switch:
        print('Good, light should be turn off in day')
    else:
        print('No light shoudl be off in the day. turining off the light')
        switch = False
else:
    if switch:
        print('Good, light shoud be on in night.')
    else:
        print('No, light should be on in night. Turning on the light.')
        switch=True

Good, light should be turn off in day

In [94]:
switch = True
time = 10
if time > 6 and time < 18:
    if not switch:
        print('Good, light should be turn off in day')
    else:
        print('No light shoudl be off in the day. turining off the light')
        switch = False
else:
    if switch:
        print('Good, light shoud be on in night.')
    else:
        print('No, light should be on in night. Turning on the light.')
        switch=True

No light shoudl be off in the day. turining off the light

In [95]:
time = 10
if time > 6 and time < 18:
    if not switch:
        print('Good, light should be turn off in day')
    else:
        print('No light shoudl be off in the day. turining off the light')
        switch = False
else:
    if switch:
        print('Good, light shoud be on in night.')
    else:
        print('No, light should be on in night. Turning on the light.')
        switch=True

Good, light should be turn off in day

In [96]:
time = 20
if time > 6 and time < 18:
    if not switch:
        print('Good, light should be turn off in day')
    else:
        print('No light shoudl be off in the day. turining off the light')
        switch = False
else:
    if switch:
        print('Good, light shoud be on in night.')
    else:
        print('No, light should be on in night. Turning on the light.')
        switch=True

No, light should be on in night. Turning on the light.

In [97]:
time = 20
if time > 6 and time < 18:
    if not switch:
        print('Good, light should be turn off in day')
    else:
        print('No light shoudl be off in the day. turining off the light')
        switch = False
else:
    if switch:
        print('Good, light shoud be on in night.')
    else:
        print('No, light should be on in night. Turning on the light.')
        switch=True

Good, light shoud be on in night.

# Thank you